<div class="flex-container">
  <div class="row back cell">
    <div class="col-12"><a routerLink="../">
      <i class="material-icons">keyboard_arrow_left</i> <span>Назад</span></a>
    </div>
  </div>
  <div class="error row justify-content-center" *ngIf="error">
    <div class="col-8">Такого водителя не существует. Вы будуте перенаправлены на страницу списка водителей.</div>
  </div>

  <div class="driver row justify-content-center" *ngIf="!error">
    <form [formGroup]="driverForm" class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-12 row justify-content-center"
          *ngIf="driver">
      <div class="col-12 row justify-content-center">
        <div class="cell">
          <div class="avatar-container">
            <img src="{{driver?.avatar.value}}" alt="" class="avatar">
          </div>
        </div>
      </div>
      <div class="col-12 row text-center title">
        <div class="cell col-12">
          {{driver?.name.value}}
        </div>
      </div>
      <div class="col-12 row justify-content-center">
        <div class="cell col-4">
          <button class="custom-button">Отчет</button>
        </div>
      </div>
      <div *ngFor="let field of controlsArray" class="line col-12 row">

        <!-- Добавялем пукнктируную линию перед номером в/у-->
        <div class="cell col-12" *ngIf="field==='driverLicenseNumber'">
          <div class="separator"></div>
        </div>
        <ng-container *ngIf="driver[field].canRead">
          <!-- Название контрола-->
          <div class="cell name col-6"><b>{{controls[field].name}}</b>
          </div>
          <div class="cell values col-6">
            <div class="value">
              <!--Кнопка добавления в случае отсутствия-->
              <div class="add" *ngIf="!driver[field].value && !controls[field].show">
                <a [routerLink]="" *ngIf="driver[field].canWrite" (click)="add(field)">Добавить
                </a>
                <ng-container *ngIf="!driver[field].canWrite">-</ng-container>
              </div>
              <!--Текстовый вариант значения-->
              <div class="placeholder" *ngIf="!controls[field].show && driver[field].value">
                <!--Для даты-->
                <ng-container *ngIf="field==='driverLicenseDate'">
                  <a [routerLink]="" *ngIf="driver[field].canWrite" (click)="showControl(field)">{{driver[field].value |
                    date: 'dd.MM.yy'}}</a>
                  <ng-container
                    *ngIf="!driver[field].canWrite">{{driver[field].value | date: 'dd.MM.yy'}}
                  </ng-container>
                </ng-container>
                <!--Для категорий-->
                <ng-container *ngIf="typeOf(driver[field].value)==='object'">
                  <a [routerLink]="" *ngIf="driver[field].canWrite"
                     (click)="showControl(field)">
                    <ng-container *ngFor="let category of driver[field].value; index as i">{{category}}
                      <ng-container *ngIf="i!==driver[field].value.length-1">,&nbsp;</ng-container>
                    </ng-container>
                  </a>
                  <ng-container *ngIf="!driver[field].canWrite">
                    <ng-container *ngFor="let category of driver[field].value; index as i">{{category}}
                      <ng-container *ngIf="i!==driver[field].value.length-1">,&nbsp;</ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <!--Для остального-->
                <ng-container *ngIf="typeOf(driver[field].value)!=='object' && field!=='driverLicenseDate'">
                  <a [routerLink]="" (click)="showControl(field)"
                     *ngIf="driver[field].canWrite">{{driver[field].value}}</a>
                  <ng-container *ngIf="!driver[field].canWrite">{{driver[field].value}}</ng-container>
                </ng-container>
              </div>
            </div>
            <!--Инпутный вариант значения-->
            <div class="controls " *ngIf="controls[field].show">
              <!--Для категорий-->
              <select size="4" class="cstom-select" formControlName="{{field}}"
                      *ngIf="typeOf(driver[field].value)==='object'"
                      multiple>
                <option value="{{category}}" *ngFor="let category of getCategory(field)">{{category}}</option>
              </select>
              <!--Для даты-->
              <input *ngIf="field==='driverLicenseDate'"
                     type="text"
                     size="9"
                     formControlName="{{field}}"
                     placeholder="Дата"
                     class="custom-input"
                     [minDate]="minDate"
                     placement="left"
                     [bsConfig]="{ dateInputFormat: 'DD.MM.YY', containerClass:'theme-dark-blue' }"
                     bsDatepicker>
              <!--Для опыта-->
              <input *ngIf="field==='experience'"
                     type="number"
                     class="custom-input"
                     formControlName="{{field}}">
              <!--Для остального-->
              <input type="text"
                     popover="{{controls[field].popover}}"
                     triggers="keyup:blur"
                     size="10"
                     class="custom-input"
                     formControlName="{{field}}"
                     *ngIf="typeOf(driver[field].value)!=='object' && field!=='driverLicenseDate' && field!=='experience'">
              <!--Кнопки утвердить и отменить-->
              <button class="bt bt-send"
                      (click)="edit(field)"
                      [disabled]="!driverForm.controls[field].dirty || driverForm.controls[field].invalid">
                <i class="material-icons">
                  done
                </i>
              </button>
              <button class="bt bt-cancel"
                      (click)="cancel(field)">
                <i class="material-icons">
                  clear
                </i>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
</div>
