.driver
  .avatar-container
    width: 150px
    height: 150px
    overflow: hidden
    border-radius: 75px
    .avatar
      width: 100%
  .line
    float: none
    .name
      float: left
    .placeholder
      a
        text-decoration: none
        color: cornflowerblue
        border-bottom: 1px cornflowerblue dashed
