<div class="error" *ngIf="error">
  Такого водителя не существует. Вы будуте перенаправлены на страницу списка водителей
</div>

<div class="driver" *ngIf="!error">
  <form *ngIf="driver" [formGroup]="driverForm">
    <div class="avatar-container">
      <img src="{{driver?.avatar.value}}" alt="" class="avatar">
    </div>
    <div *ngFor="let field of controlsArray" class="line">
      <ng-container *ngIf="driver[field].canRead" class="line">
        <div class="name">{{controls[field].name}}
        </div>
        <div class="value">
          <div class="add" *ngIf="!driver[field].value">
            <button class="add-button" *ngIf="driver[field].canWrite" (click)="add('field')">Добавить</button>
            <ng-container *ngIf="!driver[field].canWrite">---</ng-container>
          </div>
          <div class="placeholder" *ngIf="!controls[field].show">
            <ng-container *ngIf="field==='driverLicenseDate'">
              <a [routerLink]="" *ngIf="driver[field].canWrite" (click)="showControl(field)">{{driver[field].value |
                date: 'dd.MM.yy'}}</a>
              <ng-container
                *ngIf="!driver[field].canWrite">{{driver[field].value | date: 'dd.MM.yy'}}
              </ng-container>
            </ng-container>

            <ng-container *ngIf="typeOf(driver[field].value)==='object'">
              <a [routerLink]="" *ngIf="driver[field].canWrite"
                 (click)="showControl(field)">
                <ng-container *ngFor="let category of driver[field].value; index as i">{{category}}
                  <ng-container *ngIf="i!==driver[field].value.length-1">,</ng-container>
                </ng-container>
              </a>
              <ng-container *ngIf="!driver[field].canWrite">
                <ng-container *ngFor="let category of driver[field].value; index as i">{{category}}
                  <ng-container *ngIf="i!==driver[field].value.length-1">,</ng-container>
                </ng-container>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="typeOf(driver[field].value)!=='object' && field!=='driverLicenseDate'">
              <a [routerLink]="" (click)="showControl(field)" *ngIf="driver[field].canWrite">{{driver[field].value}}</a>
              <ng-container *ngIf="!driver[field].canWrite">{{driver[field].value}}</ng-container>
            </ng-container>
          </div>
        </div>
        <div class="controls" *ngIf="controls[field].show">
          <select formControlName="{{field}}" *ngIf="typeOf(driver[field].value)==='object'" multiple>
            <option value="{{category}}" *ngFor="let category of getCathegory()">{{category}}</option>
          </select>
          <input type="date" formControlName="{{field}}" *ngIf="field==='driverLicenseDate'">
          <input type="text" formControlName="{{field}}"
                 *ngIf="typeOf(driver[field].value)!=='object' && field!=='driverLicenseDate'">
          <button (click)="edit(field)"
                  [disabled]="!driverForm.controls[field].dirty || driverForm.controls[field].invalid">ок
          </button>
          <button (click)="cancel(field)">х</button>
        </div>
      </ng-container>
    </div>
  </form>
</div>
